{% extends 'base.html' %}  {% load static %} {% block title %} Moirant | Ürünler {% endblock %}
{% block content %}
    <h1>Ürünler</h1>
     <div class="summary">
        <a class="add-product" href="{% url 'stock_control:add_item' %}">
            <span class="material-icons-sharp">add</span>
        </a>
        {% if messages %}
          {% for message in messages %}
          <h2 class="success fade-out-5sec" > {{ message }} </h2>
          {% endfor %}
        {% endif %}
        <h2> Toplam Ürün Sayısı : &nbsp;{{ item_size }}</h2>
     </div>
    <div class="item-view">
    {% for item in item_list %}
        <div class="sales">
            {% if item.category.category == "Boya" %}
            <span class="material-icons-sharp">format_color_fill</span>
            {% elif item.category.category == "Rulo" %}
            <span class="material-icons-sharp">imagesearch_roller</span>
            {% else %}
            <span class="material-icons-sharp">inventory_2</span>
            {% endif %}
            <span class="material-icons-sharp editing-icon" style="color: var(--color-primary);">edit</span>
            <div class="middle">
              <div class="lef">
                <h3> {{item.name}} </h3>
                <h1> 
                      {{item.quantity}}/{{item.cost}}₺
                      <a href="{% url 'stock_control:delete_item' item_id=item.ID %}"><span class="material-icons-sharp editing-icon danger">delete</span> </a>
                </h1>
              </div>
              <div class="progress">
                <div class="number">
                  <p>{{item.item_id}}</p>
                </div>
              </div>
            </div>
            <small class="text-muted">{{ item.category.category }}</small>
        </div>
    {% endfor %}
    </div>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Onayla</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
              Bu ürünü silmek istediğinizden emin misiniz?
              <input href="{% url 'stock_control:add_item' %}" type="submit" method="POST" value="Onayla" />
            </div>
        </div>
    </div>
{% block additional_scripts %}
<script type="text/javascript" src="{% static 'js/remove_item.js' %}"></script>
{% endblock %}

{% endblock %}