{% load static %}
<html>
  <head>
    <!-- Meta info -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>

    <!-- File links -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script type="text/javascript" src="{% static 'js/JQuery.js' %}"></script>

    <!-- External links -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="{% static 'images/logo2.png' %}" />
            <h2 class="text-muted">Moirant</h2>
            <div class="close" id="close-btn">
              <span class="material-icons-sharp"> close </span>
            </div>
          </div>
        </div>
  <!-- --------------SIDE LINKS---------------- -->
        <div class="sidebar">
          <a
            href="{% url 'stock_control:index'%}"
            {% if navigation %}
            class="active"
            {% endif %}
          >
            <span class="material-icons-sharp">grid_view</span>
            <h2>Panel</h2>
          </a>

          <a href="{% url 'stock_control:statistics_view' %}">
            <span class="material-icons-sharp">smart_toy</span>
            <h2>Yapay Zeka</h2>
          </a>

          <a href="{% url 'stock_control:statistics_view' %}">
            <span class="material-icons-sharp">insights</span>
            <h2>İstatistikler</h2>
          </a>

          <a href="{% url 'stock_control:item_view' %}">
            <span class="material-icons-sharp">receipt_long</span>
            <h2>Ürünler</h2>
          </a>

          <a href="{% url 'accounts:vendor_url' %}">
            <span class="material-icons-sharp">store</span>
            <h2>Bayiler</h2>
          </a>

           <a href="{% url 'accounts:vendor_url' %}">
            <span class="material-icons-sharp">person_outline</span>
            <h2>Çalışanlar</h2>
          </a>

          <a href="{% url 'store_control:stores_url' %}">
            <span class="material-icons-sharp">shopping_cart_checkout</span>
            <h2>Satış kolları</h2>
          </a>

          <a href="{% url 'store_control:stores_url' %}">
            <span class="material-icons-sharp">settings</span>
            <h2>Ayarlar</h2>
          </a>

          <a href="{% url 'accounts:logout_url' %}">
            <span class="material-icons-sharp">logout</span>
            <h2>Çıkış</h2>
          </a>
        </div>
      </aside>

      <!---------------- END OF SIDE BAR ------------------->
      <!---------------------------------------------------->
      <main>{% block content %} {% endblock %}</main>
      <!---------------------------------------------------->
      <!-- --------------  END OF MAIN   ---------------- -->

      <!-- --------------RIGHT SIDE PANEL---------------- -->
      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-icons-sharp">menu</span>
          </button>
          <div class="theme-toggler">
            <span class="material-icons-sharp"> logout </span>
          </div>
          <div class="profile">
            <div class="info">
              <p>Merhaba, <b> {{ user.get_username }} </b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
              <img
                src="{% static 'images/default_profile_picture.jpg' %}"
                alt=""
              />
            </div>
          </div>
        </div>

        <div class="recent-updates">
          <h2>En son gelişmeler</h2>
          <div class="updates">
            {% for j in "aa" %}
            <div class="update">
              <div class="profile-photo">
                <img
                  src="{% static 'images/default_profile_picture.jpg' %}"
                  alt=""
                />
              </div>
              <div class="message">
                <p>
                  <b> Turgut Bababalım</b>, son siparişinin teslimatı sırasında
                  bir sorunla karşılaştı.
                </p>
                <small class="text-muted">2 dakika önce.</small>
              </div>
            </div>

            {% endfor %}
          </div>
        </div>
        <!-- end of recent-->

        <div class="sales-analytics">
          <h2>Satış analizi</h2>

          <div class="item online">
            <div class="icon">
              <span class="material-icons-sharp">shopping_cart</span>
            </div>
            <div class="right">
              <div class="info">
                <h3>Online siparişler</h3>
                <small class="text-muted">Son 24 saat</small>
              </div>
              <h5 class="success">+43%</h5>
              <h3>3123</h3>
            </div>
          </div>

          <div class="item offline">
            <div class="icon">
              <span class="material-icons-sharp">local_mall</span>
            </div>
            <div class="right">
              <div class="info">
                <h3>Offline siparişler</h3>
                <small class="text-muted">Son 24 saat</small>
              </div>
              <h5 class="success">-21%</h5>
              <h3>-1456</h3>
            </div>
          </div>

          <div class="item customers">
            <div class="icon">
              <span class="material-icons-sharp">person</span>
            </div>
            <div class="right">
              <div class="info">
                <h3>Yeni Müşteriler</h3>
                <small class="text-muted">Son 24 saat</small>
              </div>
              <h5 class="success">+13%</h5>
              <h3>23</h3>
            </div>
          </div>
          <div class="item add-product">
            <div>
              <span class="material-icons-sharp">add</span>
              <a href="{% url 'stock_control:add_item' %}">Ürün Ekle</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    {% block additional_scripts %} {% endblock %}
  </body>
</html>
